<robot name="onshape">
<link name="body_sub_1">
<visual>
<origin xyz="0.0472468 0.0281886 -0.012656" rpy="-0.57871 -1.63234e-16 1.5708" />
<geometry>
<mesh filename="package://electric,_hub_-_spike_prime.stl"/>
</geometry>
<material name="electric,_hub_-_spike_prime_material">
<color rgba="1 0.831373 0.00392157 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0.0472468 0.0281886 -0.012656" rpy="-0.57871 -1.63234e-16 1.5708" />
<geometry>
<mesh filename="package://electric,_hub_-_spike_prime.stl"/>
</geometry>
<material name="electric,_hub_-_spike_prime_material">
<color rgba="1 0.831373 0.00392157 1.0"/>
</material>
</collision>
<visual>
<origin xyz="0.0408677 -0.0144364 -0.00289196" rpy="-1.5708 0.57871 -3.14159" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime-_axle.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime-_axle_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0.0408677 -0.0144364 -0.00289196" rpy="-1.5708 0.57871 -3.14159" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime-_axle.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime-_axle_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</collision>
<visual>
<origin xyz="0.0408677 -0.0144364 -0.00289196" rpy="1.5708 -0.57871 -1.07346e-31" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0.0408677 -0.0144364 -0.00289196" rpy="1.5708 -0.57871 -1.07346e-31" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</collision>
<visual>
<origin xyz="0.0408677 0.0708136 -0.00289196" rpy="-1.5708 1.38778e-16 1.38778e-16" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime-_axle.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime-_axle_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0.0408677 0.0708136 -0.00289196" rpy="-1.5708 1.38778e-16 1.38778e-16" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime-_axle.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime-_axle_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</collision>
<visual>
<origin xyz="0.0408677 0.0708136 -0.00289196" rpy="1.5708 0.57871 3.14159" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0.0408677 0.0708136 -0.00289196" rpy="1.5708 0.57871 3.14159" />
<geometry>
<mesh filename="package://electric,_motor_small_angular_-_spike_prime.stl"/>
</geometry>
<material name="electric,_motor_small_angular_-_spike_prime_material">
<color rgba="0.317647 0.862745 0.921569 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="0.0354361 0.0282101 0.00542171" rpy="0 0 0"/>
<mass value="0.204762" />
<inertia ixx="0.000342498" ixy="-3.07339e-08"  ixz="7.91917e-06" iyy="0.000102621" iyz="-2.99557e-05" izz="0.000315157" />
</inertial>
</link>


</robot>
